.ant-pagination {
  margin-top: 16px;
  text-align: center;
}
.ant-btn + .ant-btn {
  margin-left: 12px;
}
.ant-btn-ghost:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.ant-btn-ghost:not(:disabled):hover {
  opacity: 0.6;
}
.ant-btn-ghost.success {
  background-color: #f6ffed;
  border-color: #b7eb8f;
}
.ant-btn-ghost.info {
  background-color: #e6f4ff;
  border-color: #91caff;
}
.ant-btn-ghost.warning {
  background-color: #fffbe6;
  border-color: #ffe58f;
}
.ant-btn-ghost.error {
  background-color: #fff2f0;
  border-color: #ffccc7;
}
.tip {
  line-height: 32px;
  font-size: 12px;
  opacity: 0.45;
}
.ant-form-inline .ant-form-item {
  margin-right: 32px;
  margin-bottom: 18px;
}
.ant-form-item-control {
  line-height: 32px;
}
.justify {
  width: 100%;
  justify-content: space-between;
}
.center {
  text-align: center;
}
.border-img {
  max-width: 100%;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  vertical-align: middle;
}
.auto-width {
  max-width: 100%;
}
.full-width {
  width: 100%;
}
.full-width .ant-input-group:not(:first-child) {
  margin-top: 12px;
}
.drag {
  cursor: move;
}
