.ant-pagination {
  margin-top: 16px;
  text-align: center;
}
.ant-btn + .ant-btn {
  margin-left: 12px;
}
.justify {
  width: 100%;
  justify-content: space-between;
}
.center {
  text-align: center;
}
